footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    h3 {
        font-weight: 400;
        font-size: 2rem;
        text-align: center;

        margin-bottom: 50px;
    }
    
    a {
        margin: 50px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
    }

    p {
        margin-top: 40px;
    }
}