nav {
    display: flex;
    justify-content: center;

    box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.195);

    a {
        font-size: 1.2rem;
        color: black;
        text-decoration: none;
        cursor: pointer;

        padding: 20px 60px;


        transform: scale(1);
        text-shadow: 0px;
        transition: all 0.3s ease-in-out; 

        &:hover {
            transform: scale(1.05);
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.152);
        }
    }
}